<div class="container">
  <p style="color: green"><%= notice %></p>

  <div class="p-10">
    <h1 class="mb-4 text-4xl font-black">Listado de Categorias</h1>
    <%= link_to 'Nueva Categoría', new_category_path, class: "btn btn-success" %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th colspan="3">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @categories.each do |category| %>
          <%= render "category", category: category %>
        <% end %>
      </tbody>
    </table>
    <br>
  <div>
<div>